<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Enter Username" name="username" id="username" ng-model="loginCtrl.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Enter Password" name="password" id="password" ng-model="loginCtrl.password">
            </label>
        </form>
        <button id="login-button1" class="button button-calm  button-block">Log In</button>
    </ion-content>
</ion-view>